---
import AuthorImage from "../../assets/images/black-man.png"
---

<section class="authors">
    <div class="container">
        <h2 class="title">Authors</h2>

        <div class="wrapper">
            <!-- card -->
            <div class="card">
                <div class="image-wrapper">
                    <img src={AuthorImage} alt="image" class="image">
                </div>
                <h3 class="name">Floyd Miles</h3>
                <p class="bio">Content Writer @Company</p>
                <div class="sci">
                    <a href="" class="sci-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <div class="image-wrapper">
                    <img src={AuthorImage} alt="image" class="image">
                </div>
                <h3 class="name">Floyd Miles</h3>
                <p class="bio">Content Writer @Company</p>
                <div class="sci">
                    <a href="" class="sci-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <div class="image-wrapper">
                    <img src={AuthorImage} alt="image" class="image">
                </div>
                <h3 class="name">Floyd Miles</h3>
                <p class="bio">Content Writer @Company</p>
                <div class="sci">
                    <a href="" class="sci-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <div class="image-wrapper">
                    <img src={AuthorImage} alt="image" class="image">
                </div>
                <h3 class="name">Floyd Miles</h3>
                <p class="bio">Content Writer @Company</p>
                <div class="sci">
                    <a href="" class="sci-link">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="sci-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
     @import "../../assets/styles/variables.scss";

     .authors{
        padding-bottom: 100px;

        .title{
            text-align: center;
            margin-bottom: 50px;
        }

        .wrapper{
            display: flex;
            justify-content: space-between;
            gap: 30px;

            .card{
                width: 296px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: $gray-200;
                padding: 40px 0;
                cursor: pointer;

                &:hover{
                    background-color: $light;
                }

                .name{
                    margin-top: 20px;
                }

                .bio{
                    margin-bottom: 20px;
                    color: $gray-400;
                    font-size: $text-small;
                }

                .sci{
                    display: flex;
                    gap: 16px;
                }
            }
        }
     }
</style>